@function rem($px)
{
	@return $px / 16px +0rem;
}

$phones: 480px;
$tablets: 768px;
$desktop: 1200px;

@mixin desktop
{
	@media screen and (max-width: $desktop)
	{
		@content;
	}
}

@mixin tablets
{
	@media screen and (max-width: $tablets)
	{
		@content;
	}
}

@mixin phones
{
	@media screen and (max-width: $phones)
	{
		@content;
	}
}